*{

}
body{
    background: rgb(19,19,189);
background: linear-gradient(90deg, rgba(19,19,189,1) 0%, rgba(32,64,219,1) 0%, rgba(15,8,120,1) 0%, rgba(21,53,230,1) 1%, rgba(9,31,119,1) 46%, rgba(10,29,115,1) 51%);
}



.col-md-7{
    margin-top: 150px !important;
    background-color: white;
    box-shadow: 0px 5px 20px black;
    height: 350px;
    padding: 8px;

}

.row h1{
    background-color: blueviolet;
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
    

    
}
#quizdiv h2{
    position: relative;
    top: 20px;
    text-align: left;
    font-size: 20px;
    

}
input,label{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 18px;
   

}
.btn{
    margin-top: 20px;

}